.games-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 16px;
}

.game-card {
    min-height: 310px;
}

.games-rat {
    display: flex;
    align-items: center;
    gap: 4px;
}

.games-rat div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.game-card .back {
    background: #2626265e;
}

.game-card:hover .front {
    opacity: 0.1;
    /* transform: translateY(-10px); */
}

@media screen and (max-width: 440px) {
    .prov-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 10px;
    }

    .game-card .back {
        padding: 10px;
    }

    .game-card .front {
        padding: 10px;
    }
  }